<h2>Products</h2>
<div class="item">
  <div *ngFor="let product of products" class="product1">

    <h3>
      <a [title]="product.name + ' details'"
         [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <p *ngIf="product.price" class="dff">
      Цена: {{ product.price }}
    </p>
    <img [src] = product.img width="211" height="150">
    <p *ngIf="product.description" class="dff">
      Описание: {{product.description}}
    </p>
    <div class="buttons">
        <button type="button" (click)="share(product.url)">
          Share
        </button>
        
        <app-product-alerts
        [product]="product" 
        (notify)="onNotify()">
        </app-product-alerts>

        <button (click) = "DeleteItem(product.id)" class="delete">Delete</button>
        
        <button target="_blank" (click) = "counterLike(product)"> Like </button> 
        <p class="like__count">{{product.like}} ❤️</p>
    </div>
  </div>
</div>
